html{
    background-image: url(rtnlogo1.png);
    background-color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    transition: background-image 0.2s ease-in-out;
}
body{
    display: none;
}